#pi storage config
export PISTORAGE_HOST=<NAS name/IP>:<folder>
export PISTORAGE=<mount point on Pi>
export PISTORAGE_TYPE=<mount type, such as nfs>

#WiFi setup
export WIFI_SSID=<wifi name>
export WIFI_PASS=<wifi password>

export K8S_IP=<kubernetes cluster VIP>

read -sp "Default OS user password: " DEFAULT_PASS
export DEFAULT_PASS
echo

read -sp "Main user password: " BECOME_PASS
export BECOME_PASS
echo

read -sp "Main user key password: " KEY_PASS
export KEY_PASS
echo
