#pi storage config
export PISTORAGE_HOST=<NAS name/IP>:<folder>
export PISTORAGE=<mount point on Pi>
export PISTORAGE_TYPE=<mount type, such as nfs>

#WiFi setup
export WIFI_SSID=<wifi name>
export WIFI_PASS=<wifi password>

read -sp "Become password: " BECOME_PASS
export BECOME_PASS

