network:
    version: 2
    wifis:
        wlan0:
            optional: false
            dhcp4: true
            access-points:
                "{{ wifi_network_ssid }}":
                    password: {{ wifi_network_pass }}
